language: java
jdk: 
  - oraclejdk8
  - openjdk8
branches:
  only:
  - master
script:  
  - mvn install -DskipTests=false -Dmaven.javadoc.skip=true -B -V
cache:
  directories:
  - $HOME/.m2
deploy:
     provider: releases
     api_key: "120d27306552c3969d600468556ef5e3ba27c295"
     file: 
         - target/*.jar
     skip_cleanup: true
     on:
     tags: true     